<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Commandes</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="">Commandes</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/commandes">Historique des commandes</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-data">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Clients</th>
            <th scope="col">Date</th>
            <th scope="col">Produits</th>
            <th scope="col">Prix</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</section>
