 .table thead {
  background-color: #c0c0c0;
  height: 30px;
}

.table {
  width: 100%;
  text-align: center  ;
}

.table th,
.table td {
  border-top: none;
  border-bottom: 1px solid #bbbbbb;
  border-right:1px solid #bbbbbb;
}


.table tbody tr:hover {
  background-color: #e6e6e6;
}
