body {
  background-image: url("https://wallpapers.com/images/featured/plain-white-background-xdwiksazlsuzkuhi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}

form {
  width: 520px;
  height: 500px;
  margin: 80px auto;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.596);
  border-radius: 15px;
  background-color: var(--light);
  text-align: center;
}

img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  height: 200px;
  color: #bcbcbc;
}

.form-control {
  margin-bottom: 15px;
  position: relative;
}

input {
  margin-bottom: 8px;
  display: block;
  padding: 8px;
  height: 50px;
  border-radius: 10px;
  width: 100%;
  border: 2px solid #ccc;
  background-color: white;
}

.submit-button {
  width: 150px;
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  background-color: rgb(205, 126, 0);
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffb300;
}

.error-message {
  color: red;
  font-size: 12px;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: left;
}
