
<body>
    <div class="table-data">
      <div class="form-container">

        <form>
          <img src="../../assets/img/MakyaLogo.png" alt="">
          <div class="form-control">
            <input id="email" type="email" placeholder="Email"
            />
          </div>
          <div class="form-control">
            <input id="password" type="password" placeholder="Password"
            />
          </div>
          <a routerLink=""><button type="submit" class="submit-button">Se connecter</button></a>
        </form>
      </div>
    </div>
</body>



