<!-- SIDEBAR -->
<section id="sidebar">
  <a routerLink="/" class="brand">
    <img src="assets/img/MakyaLogo.png" id="logo" />
  </a>
  <ul class="side-menu top">
    <li routerLinkActive="active" >
      <a routerLink="/">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/makyatraiteur/menu">
        <i class='bx bxs-food-menu'></i>
        <span class="text">Menu</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/makyatraiteur/commandes">
        <i class='bx bxs-cart'></i>
        <span class="text">Commandes</span>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/makyatraiteur/clients">
        <i class='bx bxs-group'></i>
        <span class="text">Clients</span>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="logout">
        <i class='bx bxs-log-out-circle'></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->


<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-heart'></i>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Search...">
        <button type="button" class="search-btn"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <a routerLink="/makyatraiteur/profile" class="profile">
      <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359554_1280.png" alt="">
    </a>
  </nav>
  <!-- NAVBAR -->
</section>
