<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Clients</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="/makyatraiteur/clients">Clients</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/clients">Liste des clients</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/clients/solde:id">Solde</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="table-data">
      <div class="solde-container">
        <h2>Gestion de solde</h2>
        <div class="solde-header">
          <i class="bx bx-info-circle"></i>
          <p>Détails</p>
        </div>
        <div class="solde-details">
          <p>Crédit: 0 Fcfa</p>
          <p>Acomptes: 0 Fcfa</p>
          <p>Avance: 0 Fcfa</p>
          <p>Remise: 0 Fcfa</p>
          <p>Bon d'achats: Aucun</p>
        </div>
      </div>
    </div>
  </main>
</section>
