.profile-container {
  width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}


.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.281);
}

.profile-details p {
  margin-bottom: 20px;
  border-bottom: 0.5px solid #ddd;
  font-size: 20px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: var(--yellow);
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.281);
}

button:hover {
  background-color: var(--light-blue);
}
