<!-- <section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Menu</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="">Menu</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/menu">Catégories</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/menu/breackfast">Petit Déjeuner</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" routerLink="/makyatraiteur/menu/edit-produit/{{ product._id }}">{{ product.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <section id="content">
      <main>
        <div class="edit-container">
          <h1>Edit Product</h1>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" id="price" name="price" required>
            </div>
            <button type="submit">Save</button>
            <button type="button">Cancel</button>
          </form>
        </div>
      </main>
    </section>

  </main>
</section> -->
